@{
    ViewBag.Title = "Home Page";
}

<!-- Masthead -->
@Html.Partial("_MastHead")

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
                    <h5>Ross McLean</h5>
                    <p class="font-weight-light mb-0">"Wow, Bikes!"</p>
                    <p class="font-weight-lighter font-italic">Glasgow</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
                    <h5>Ross McLean</h5>
                    <p class="font-weight-light mb-0">"They fixed many bikes for me. I have many bikes, groups of bikes, and I feed them only natural grain!"</p>
                    <p class="font-weight-lighter font-italic">Glasgow</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
                    <h5>Ross McLean</h5>
                    <p class="font-weight-light mb-0">"Utterly disappointed. They did not fix my bike. I have no bike."</p>
                    <p class="font-weight-lighter font-italic">Glasgow</p>
                </div>
            </div>
        </div>
    </div>
</section>